@import"https://fonts.googleapis.com/css2?family=STIX+Two+Math&family=Raleway&display=block";.Index_header__1eHqG {
    min-height: 1em;
    background-color: #fafafa;
    color: #2c2c2c
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-family: Raleway;
    font-weight: lighter;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
    font-family: 'STIX Two Math';
}


@media screen and (prefers-reduced-motion: no-preference) {
    p.choice {
        transition: opacity 2.0s;
    }
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}

#toggleButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 20;
    padding: 0;
    border: none;
    background: none;
}

#toggleButton img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    object-fit: cover; /* Adjust the fit to cover, contain, etc., as needed */
}

#fullscreenImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* Optional: for better visibility */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it's above other content */
    display: none; /* Start hidden */
}

#fullscreenImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
}
