@import"https://fonts.googleapis.com/css2?family=STIX+Two+Math&family=Raleway&display=block";.Index_header__1eHqG {
    min-height: 1em;
    background-color: #fafafa;
    color: #2c2c2c
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-family: Raleway;
    font-weight: lighter;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
    font-family: 'STIX Two Math';
}


@media screen and (prefers-reduced-motion: no-preference) {
    p.choice {
        transition: opacity 2.0s;
    }
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}